<a href="https://colab.research.google.com/github/svetajamkina/PYTHON27/blob/main/ForLOOPS27_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
for letter in "I LOVE PYTHON": #STRING ITEABLE OBJECT
 print(letter, end = '') #\n NEW LINE CHARACTER

I LOVE PYTHON

FOR LOOP LIST

In [8]:
cities_i_have_been_to = ['Tallinn', 'Riga', 'Tartu', 'Viru','Aluksne', 'ventspils']

In [9]:
for city in cities_i_have_been_to:
  print(f'I have been to {city}')

I have been to Tallinn
I have been to Riga
I have been to Tartu
I have been to Viru
I have been to Aluksne
I have been to ventspils

In [12]:
counter = 1 #INITIALIZE THE COUNTER

for city in cities_i_have_been_to:
  print(f'{counter}. I have been to {city}')
  counter = counter + 1

1. I have been to Tallinn
2. I have been to Riga
3. I have been to Tartu
4. I have been to Viru
5. I have been to Aluksne
6. I have been to ventspils

In [13]:
# ADD PREVIOUS CITY IN THE FORLOOP
cities_i_have_been_to = ['Tallinn', 'Riga', 'Tartu', 'Viru','Aluksne', 'ventspils']
counter = 0 #INITIALIZE THE COUNER
previous_city = None


for city in cities_i_have_been_to:

  counter = counter + 1
  print(f'{counter}. I have been to {city}. The previous city I visited was {previous_city}.')
  previous_city = city

1. I have been to Tallinn. The previous city I visited was None.
2. I have been to Riga. The previous city I visited was Tallinn.
3. I have been to Tartu. The previous city I visited was Riga.
4. I have been to Viru. The previous city I visited was Tartu.
5. I have been to Aluksne. The previous city I visited was Viru.
6. I have been to ventspils. The previous city I visited was Aluksne.

In [16]:
cities_i_have_been_to = ['Tallinn', 'Riga', 'Tartu', 'Viru','Aluksne', 'ventspils']

counter = 0 #INITIALIZE THE COUNER
previous_city = None


for city in cities_i_have_been_to:

  counter = counter + 1
  if previous_city == None:
   print(f'{counter}. I have been to {city}.')
  else:
    print(f'{counter}. I have been to {city}. The previous city I visited was {previous_city}.')
  previous_city = city

1. I have been to Tallinn.
2. I have been to Riga. The previous city I visited was Tallinn.
3. I have been to Tartu. The previous city I visited was Riga.
4. I have been to Viru. The previous city I visited was Tartu.
5. I have been to Aluksne. The previous city I visited was Viru.
6. I have been to ventspils. The previous city I visited was Aluksne.

FOR LOOPS WITH INDEXES

In [31]:
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
which_year_I_visited = [2020, 2024, 2020, 2021, 2024, 2022]

In [27]:
range (len (cities_i_have_been_to)) #elements
list(range (len (cities_i_have_been_to))) #elements

[0, 1, 2, 3, 4, 5]

In [32]:
range(len(cities_i_have_been_to)) #elements  [0, 1, 2, 3, 4, 5]
for i in range(len(cities_i_have_been_to)):
  print(cities_i_have_been_to[i])
  print(which_year_I_visited[i])
  print(f'This is the index {i}')

Tallin
2020
This is the index 0
Riga
2024
This is the index 1
Tartu
2020
This is the index 2
Aluksne
2021
This is the index 3
Viru
2024
This is the index 4
Ventspils
2022
This is the index 5

In [34]:
range(len(cities_i_have_been_to)) #elements  [0, 1, 2, 3, 4, 5]
for i in range(len(cities_i_have_been_to)):
  print(f'I have been to {cities_i_have_been_to[i]}. I visited that city in {which_year_I_visited[i]}')

I have been to Tallin. I visited that city in 2020
I have been to Riga. I visited that city in 2024
I have been to Tartu. I visited that city in 2020
I have been to Aluksne. I visited that city in 2021
I have been to Viru. I visited that city in 2024
I have been to Ventspils. I visited that city in 2022

NESTED LISTS

In [36]:
matrix_2d = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]

In [39]:
for i in matrix_2d:
  print(f' THIS IS THE SUB-LIST: {i}')
  for j in i:
     print(f' THESE ARE THE ELEMENTS OF THE SUB-LIST {j}')

 THIS IS THE SUB-LIST: [1, 2, 3]
 THESE ARE THE ELEMENTS OF THE SUB-LIST 1
 THESE ARE THE ELEMENTS OF THE SUB-LIST 2
 THESE ARE THE ELEMENTS OF THE SUB-LIST 3
 THIS IS THE SUB-LIST: [4, 5, 6]
 THESE ARE THE ELEMENTS OF THE SUB-LIST 4
 THESE ARE THE ELEMENTS OF THE SUB-LIST 5
 THESE ARE THE ELEMENTS OF THE SUB-LIST 6
 THIS IS THE SUB-LIST: [7, 8, 9]
 THESE ARE THE ELEMENTS OF THE SUB-LIST 7
 THESE ARE THE ELEMENTS OF THE SUB-LIST 8
 THESE ARE THE ELEMENTS OF THE SUB-LIST 9

GRADE MAPPING EXERCISE

In [41]:
grade_mapping = [[90, 'A'], [80, 'B'], [70, 'C'], [60, 'D'], [0, 'F']] #NESTED LIST

In [ ]:
grade_mapping[0] #[90, 'A']
grade_mapping [0][1] #A
grade_mapping [3][1] #D

In [42]:
for threshold, letter_grade in grade_mapping:
  print(letter_grade)

A
B
C
D
F

In [45]:
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]
student_scores = [85, 72, 93, 60, 77]
grade_mapping = [[90, 'A'], [80, 'B'], [70, 'C'], [60, 'D'], [0, 'F']]

In [49]:
for i in range (len (student_scores)):
  print(student_scores [i])
  print(student_names[i])
  score = student_scores[i] # THIS IS THE SCORE OF EACH STUDENT SEPARATELY
  for threshold, letter_grade in grade_mapping:
    if score >= threshold:
     print(f'Hi,{student_names[i]}, your letter grade is {letter_grade}')
     break

85
Alice
Hi,Alice, your letter grade is B
72
Bob
Hi,Bob, your letter grade is C
93
Charlie
Hi,Charlie, your letter grade is A
60
David
Hi,David, your letter grade is D
77
Eva
Hi,Eva, your letter grade is C

In [52]:
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"] #CAN USE A COUNTER OR  FOR

for index, student in enumerate(student_names, start=1):
  print (f'Student{index}: {student}')

Student1: Alice
Student2: Bob
Student3: Charlie
Student4: David
Student5: Eva

In [53]:
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]

#ENUMERATE
for index, student in enumerate(student_names):
  print(f'Student {index}: {student}')

#COUNTER
counter = 0 #INITIALIZE THE COUNTER
for student in student_names:
  print(f'Student {counter}: {student}')
  counter = counter + 1

#RANGE
for i in range(len(student_names)):
  print(f'Student {i}: {student_names[i]}')

Student 0: Alice
Student 1: Bob
Student 2: Charlie
Student 3: David
Student 4: Eva
Student 0: Alice
Student 1: Bob
Student 2: Charlie
Student 3: David
Student 4: Eva
Student 0: Alice
Student 1: Bob
Student 2: Charlie
Student 3: David
Student 4: Eva